# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Node / JS
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build outputs
# =========================
dist/
build/
.vite/
.next/
out/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Uploads / local data
# =========================
uploads/
tmp/

# =========================
# Coverage / misc
# =========================
coverage/


# =========================
# md files
# =========================
replit.md
SETUP_LOCAL_DB.md


# =========================
# certs
# =========================
certs/supabase-dev-db-ca.crt